<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao2.ZhongbiaoDetailOthersMapper" >
  <resultMap id="BaseResultMap" type="com.silita.model.ZhongbiaoDetailOthers" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="snatchUrlId" property="snatchUrlId" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="projName" property="projName" jdbcType="VARCHAR" />
    <result column="block" property="block" jdbcType="VARCHAR" />
    <result column="gsDate" property="gsDate" jdbcType="VARCHAR" />
    <result column="projSum" property="projSum" jdbcType="VARCHAR" />
    <result column="projDq" property="projDq" jdbcType="VARCHAR" />
    <result column="projXs" property="projXs" jdbcType="VARCHAR" />
    <result column="pbMode" property="pbMode" jdbcType="VARCHAR" />
    <result column="projType" property="projType" jdbcType="VARCHAR" />
    <result column="projTypeId" property="projTypeId" jdbcType="VARCHAR" />
    <result column="oneName" property="oneName" jdbcType="VARCHAR" />
    <result column="oneUUid" property="oneUUid" jdbcType="VARCHAR" />
    <result column="oneOffer" property="oneOffer" jdbcType="VARCHAR" />
    <result column="oneProjDuty" property="oneProjDuty" jdbcType="VARCHAR" />
    <result column="oneProjDutyUuid" property="oneProjDutyUuid" jdbcType="VARCHAR" />
    <result column="oneSkillDuty" property="oneSkillDuty" jdbcType="VARCHAR" />
    <result column="oneSgy" property="oneSgy" jdbcType="VARCHAR" />
    <result column="oneAqy" property="oneAqy" jdbcType="VARCHAR" />
    <result column="oneZly" property="oneZly" jdbcType="VARCHAR" />
  </resultMap>

  <select id="listZhongbiaoDetailOthersBySnatchUrlId" parameterType="com.silita.model.ZhongbiaoDetailOthers" resultMap="BaseResultMap">
    SELECT zhongbiao.`id`, main.`id` AS snatchUrlId, main.`title` AS `projName`, zhongbiao.`block`, main.`openDate` AS `gsDate`,
    zhongbiao.`projSum`, zhongbiao.`projDq`, zhongbiao.`projXs`, zhongbiao.`pbMode`, zhongbiao.`projType`,
    zhongbiao.`projTypeId`, zhongbiao.`oneName`, zhongbiao.`oneUUid`, zhongbiao.`oneOffer`, zhongbiao.`oneProjDuty`,
    zhongbiao.`oneProjDutyUuid`, zhongbiao.`oneSkillDuty`, zhongbiao.`oneSgy`, zhongbiao.`oneAqy`, zhongbiao.`oneZly`
    FROM mishu.snatchurl_${source} main
    LEFT JOIN mishu.zhongbiao_detail_others zhongbiao ON main.`id` = zhongbiao.`snatchUrlId` AND main.`source` = zhongbiao.`source`
    WHERE main.`id` = #{snatchUrlId} AND main.`source` = #{source}
  </select>

  <update id="updateZhongbiaoDetailOthersById" parameterType="com.silita.model.ZhongbiaoDetailOthers">
    UPDATE mishu.zhongbiao_detail_others SET
    <if test="projName != null and projName != ''">
      `projName` = #{projName},
    </if>
    <if test="block != null and block != ''">
      `block` = #{block},
    </if>
    `projSum` = #{projSum},
    `projDq` = #{projDq},
    `projXs` = #{projXs},
    `pbMode` = #{pbMode},
    `projType` = #{projType},
    `projTypeId` = #{projTypeId},
    `oneName` = #{oneName},
    `oneUUid` = #{oneUUid},
    `oneOffer` = #{oneOffer},
    `oneProjDuty` = #{oneProjDuty},
    `oneSkillDuty` = #{oneSkillDuty},
    `oneSgy` = #{oneSgy},
    `oneAqy` = #{oneAqy},
    `oneZly` = #{oneZly}
    WHERE `id` = #{id}
  </update>
</mapper>