<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.CountryHighwayMapper">


    <select id="findByPage"
            resultType="com.silita.model.CountryHighway">
        select pkid,proj_name as projName,section,province,is_opt as isOpt,"build" as type,created from mishu.cm_highway_build
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>

        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        union all
        select pkid,proj_name as projName,section,province,is_opt as isOpt ,"design" as type,created from
        mishu.cm_highway_design
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        order by isOpt,created
        limit ${(pageNo-1)*pageSize},${pageSize};
    </select>
    <select id="countTotal" resultType="java.lang.Integer">
        select SUM(a.total) from (
        select count(1) as total from mishu.cm_highway_build
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        union all
        select count(1) as total from mishu.cm_highway_design
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        ) a
    </select>

    <select id="findById" resultType="com.silita.model.CountryHighway">
        select pkid,proj_name as projName ,section,section_start as sectionStart ,section_end as sectionEnd ,is_opt as isOpt,remark,mileage,case when mileage_man is null then mileage else mileage_man end as mileageMan,#{type} as type from mishu.cm_highway_${type} where pkid=#{pkid}
    </select>

    <select id="countByIsOpt" resultType="java.lang.Long">
        select SUM(a.total) from (
        select count(1) as total from mishu.cm_highway_build
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            where is_opt =#{isOpt}
        </if>
        union all
        select count(1) as total from mishu.cm_highway_design
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            where is_opt =#{isOpt}
        </if>
        ) a
    </select>

    <select id="allProvinces" resultType="java.lang.String">
        select DISTINCT(case when a.province is null then '其他' else a.province end) from (
        select distinct(province) from mishu.cm_highway_build
        union all
        select distinct(province) from mishu.cm_highway_design
        ) a
    </select>

    <update id="lock">
        update mishu.cm_highway_${type} set is_opt=1 where pkid=#{pkid}
    </update>

    <update id="update">
        update mishu.cm_highway_${type} set is_opt=2,mileage_man=#{mileageMan} where pkid=#{pkid}
    </update>

    <update id="release">
        update mishu.cm_highway_${type} set is_opt=0 where pkid=#{pkid}
    </update>
</mapper>