<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.CountryHighwayMapper">


    <select id="findByPage"
            resultType="com.silita.model.CountryHighway">
        select pkid,proj_name as projName,section,province,is_opt as isOpt,"build" as type,created from mishu.cm_highway_build
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>

        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        union all
        select pkid,proj_name as projName,section,province,is_opt as isOpt ,"design" as type,created from
        mishu.cm_highway_design
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        order by isOpt,created
        limit ${(pageNo-1)*pageSize},${pageSize};
    </select>
    <select id="countTotal" resultType="java.lang.Integer">
        select SUM(a.total) from (
        select count(1) as total from mishu.cm_highway_build
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        union all
        select count(1) as total from mishu.cm_highway_design
        where
        1=1
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and province is null
            </when>
            <otherwise>
                and province =#{province}
            </otherwise>
        </choose>
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            and is_opt =#{isOpt}
        </if>
        <if test="nameKey !=null and nameKey != ''">
            and proj_name like '%${nameKey}%'
        </if>
        ) a
    </select>

    <select id="findById" resultType="com.silita.model.CountryHighway">
        select pkid,com_name as compName,proj_name as projName ,section,section_start as sectionStart ,section_end as sectionEnd ,is_opt as isOpt,remark,mileage,case when mileage_man is null then mileage else mileage_man end as mileageMan,#{type} as type,tunnel_len as tunnelLen,bridge_len as bridgeLen,bridge_span as bridgeSpan,bridge_width as bridgeWidth
        from mishu.cm_highway_${type} a left join mishu.cm_company_gonglu as b on a.com_id=b.com_id where pkid=#{pkid}
    </select>

    <select id="countByIsOpt" resultType="java.lang.Long">
        select SUM(a.total) from (
        select count(1) as total from mishu.cm_highway_build
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            where is_opt =#{isOpt}
        </if>
        union all
        select count(1) as total from mishu.cm_highway_design
        <if test="isOpt &gt;= 0 and isOpt &lt;= 2">
            where is_opt =#{isOpt}
        </if>
        ) a
    </select>

    <select id="allProvinces" resultType="java.lang.String">
        select DISTINCT(case when a.province is null then '其他' else a.province end) from (
        select distinct(province) from mishu.cm_highway_build
        union all
        select distinct(province) from mishu.cm_highway_design
        ) a
    </select>

    <select id="findOptByPage" resultType="com.silita.model.CountryHighway">
        select t.pkid,t.projName,t.section,t.province,t.isOpt,t.type,DATE_FORMAT(t.created, '%Y-%m-%d') as optDate,u.real_name as optUser from(
        select a.pkid,a.proj_name as projName,a.section,a.province,a.is_opt as isOpt,"design" as type,b.created,b.opt_uid from
        mishu.cm_highway_design a,mishu.log_parse b where a.is_opt=2 and b.data_id=a.pkid
        <if test="startDate !=null and startDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &lt;= #{endDate}
        </if>
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and a.province is null
            </when>
            <otherwise>
                and a.province =#{province}
            </otherwise>
        </choose>
        <if test="nameKey !=null and nameKey != ''">
            and a.proj_name like '%${nameKey}%'
        </if>
        <if test="optUid !=null and optUid != ''">
            and b.opt_uid = #{optUid}
        </if>
        union all
        select a.pkid,a.proj_name as projName,a.section,a.province,a.is_opt as isOpt,"build" as type,b.created,b.opt_uid from
        mishu.cm_highway_build a,mishu.log_parse b where a.is_opt=2 and b.data_id=a.pkid
        <if test="startDate !=null and startDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &lt;= #{endDate}
        </if>
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and a.province is null
            </when>
            <otherwise>
                and a.province =#{province}
            </otherwise>
        </choose>
        <if test="nameKey !=null and nameKey != ''">
            and a.proj_name like '%${nameKey}%'
        </if>
        <if test="optUid !=null and optUid != ''">
            and b.opt_uid = #{optUid}
        </if>
        ) t left join biaodaa_admin.tb_user u on t.opt_uid=u.uid  order by t.created desc
    </select>
    <select id="findCount" resultType="java.lang.Long">
        select count(t.pkid) from(
        select a.pkid,a.proj_name as projName,a.section,a.province,a.is_opt as isOpt,"design" as type,b.created,b.opt_uid from
        mishu.cm_highway_design a,mishu.log_parse b where a.is_opt=2 and b.data_id=a.pkid
        <if test="startDate !=null and startDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &lt;= #{endDate}
        </if>
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and a.province is null
            </when>
            <otherwise>
                and a.province =#{province}
            </otherwise>
        </choose>
        <if test="nameKey !=null and nameKey != ''">
            and a.proj_name like '%${nameKey}%'
        </if>
        <if test="optUid !=null and optUid != ''">
            and b.opt_uid = #{optUid}
        </if>
        union all
        select a.pkid,a.proj_name as projName,a.section,a.province,a.is_opt as isOpt,"build" as type,b.created,b.opt_uid from
        mishu.cm_highway_build a,mishu.log_parse b where a.is_opt=2 and b.data_id=a.pkid
        <if test="startDate !=null and startDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &gt;= #{startDate}
        </if>
        <if test="endDate !=null and endDate !=''">
            and DATE_FORMAT(b.created, '%Y-%m-%d') &lt;= #{endDate}
        </if>
        <choose>
            <when test="province == '全部'">
            </when>
            <when test="province == '其他'">
                and a.province is null
            </when>
            <otherwise>
                and a.province =#{province}
            </otherwise>
        </choose>
        <if test="nameKey !=null and nameKey != ''">
            and a.proj_name like '%${nameKey}%'
        </if>
        <if test="optUid !=null and optUid != ''">
            and b.opt_uid = #{optUid}
        </if>
        ) t  where exists (select 1 from mishu.log_parse l where t.pkid=l.data_id)
    </select>

    <update id="lock">
        update mishu.cm_highway_${type} set is_opt=1 where pkid=#{pkid}
    </update>

    <update id="update">
        update mishu.cm_highway_${type} set is_opt=2,mileage_man=#{mileageMan},tunnel_len=#{tunnelLen},bridge_len=#{bridgeLen},bridge_span=#{bridgeSpan},bridge_width=#{bridgeWidth} where pkid=#{pkid}
    </update>

    <update id="release">
        update mishu.cm_highway_${type} set is_opt=0 where pkid=#{pkid}
    </update>

    <update id="reset">
        update mishu.cm_highway_${type} set is_opt=2 where pkid=#{pkid}
    </update>
</mapper>