<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.dao.IPermissionMapper">

    <resultMap id="PermissionsResult" type="com.silita.model.TbPermission">
        <id property="pid" column="pid"/>
        <result property="permissionName" column="permission_name"/>
        <result property="desc" column="desc"/>
    </resultMap>


    <select id="listPermissionByUserName" parameterType="String" resultType="java.lang.String">
		SELECT permission_name
		FROM tb_user u
		LEFT JOIN tb_user_role ur ON u.uid = ur.uid
		LEFT JOIN tb_role r ON ur.rid = r.rid
		LEFT JOIN tb_role_permission rp ON r.rid = rp.rid
		LEFT JOIN tb_permission p ON rp.pid = p.pid
		WHERE u.user_name = #{userName}
	</select>

</mapper>