<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.RelQuaGradeMapper" >
    <update id="updateQualCode" parameterType="map">
        UPDATE `rel_qua_grade` SET qua_code = #{stdCodes} where qua_code = #{stdCode}
    </update>

    <select id="queryQuaGrade" parameterType="java.util.Map" resultType="com.silita.model.RelQuaGrade">
        select t.id as id
                ,t1.name as `name`
                ,`code` as gradeCode
                ,t1.id as gradeId
        from rel_qua_grade t
        left join dic_common t1 on t.grade_code = t1.code and `type`  = 'qua_grade'
        where 1=1
        <if test="quaCode != null and quaCode != ''">
            and t.qua_code = #{quaCode}
        </if>
        and (t.biz_type = '0' or t.biz_type = #{bizType})
    </select>

    <insert id="insertQuaCrade" parameterType="com.silita.model.RelQuaGrade">
        INSERT INTO `rel_qua_grade`(`id`,`qua_code`,`grade_type`,`biz_type`,`grade_code`)
        VALUES (#{id},#{quaCode},#{gradeType},#{bizType},#{gradeCode})
    </insert>

    <delete id="delQuaCrade" parameterType="java.util.Map">
        DELETE FROM `rel_qua_grade` WHERE `id` = #{id}
    </delete>
    <delete id="deleteRelQuaGrade" parameterType="map">
        delete from `rel_qua_grade` WHERE grade_code = #{stdCode}
    </delete>
    <delete id="deleteRelQuaCode" parameterType="map">
         delete from `rel_qua_grade` WHERE qua_code = #{stdCode}
    </delete>

    <select id="queryQuaGradeCout" parameterType="com.silita.model.RelQuaGrade" resultType="java.lang.Integer">
        select count(1)
        from rel_qua_grade
        where 1=1
        and qua_code = #{quaCode}
        and grade_code = #{gradeCode}
        and biz_type = #{bizType}
    </select>

    <select id="quaryGradeCountByCode" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(1)
        from rel_qua_grade
        where 1=1
        and grade_code = #{gradeCode}
    </select>

    <!--通过子级code找到对应的等级-->
    <select id="queryRelQuaGrade" resultType="java.lang.Integer" parameterType="map">
        SELECT
        ifnull(count(0),0)
        FROM `dic_common` c
        JOIN `rel_qua_grade` r
        ON c.code=r.grade_code
        WHERE r.qua_code=#{quaCode}
        order by order_no
    </select>

    <!--通过子级code找到对应的等级-->
    <select id="queryRelQuaGrades" resultType="java.util.Map" parameterType="map">
        SELECT c.name AS quaName,
          c.code AS quaCode
        FROM `dic_common` c
        JOIN `rel_qua_grade` r
        ON c.code=r.grade_code
        WHERE r.qua_code=#{quaCode}
        order by order_no
    </select>
</mapper>