<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.silita.dao.IRoleMapper">

    <resultMap id="RoleResult" type="com.silita.model.TbRole">
        <id property="rid" column="rid"/>
        <result property="roleName" column="role_name"/>
        <result property="desc" column="desc"/>
    </resultMap>
    <insert id="addRole" parameterType="map">
        INSERT INTO biaodaa_admin.`tb_role` (`desc`,`created`)
        VALUES (#{desc},NOW())
    </insert>
    <update id="updateRole" parameterType="map">
        update biaodaa_admin.`tb_role` set `desc` = #{desc},`updated` = NOW() where rid = #{rid}
    </update>


    <select id="listRoleByUserName" parameterType="String" resultType="java.lang.String">
        SELECT r.role_name
        FROM tb_user u
        LEFT JOIN tb_user_role ur ON u.uid = ur.uid
        LEFT JOIN tb_role r ON ur.rid = r.rid
        WHERE u.user_name = #{userName}
    </select>
    <select id="queryRoleList" resultType="java.util.Map" parameterType="com.silita.model.TbRole">
        SELECT
          t.rid,
          t.role_name AS roleName,
          t.desc,
          t.created,
          t.updated
        FROM
          biaodaa_admin.`tb_role` t
          where 1=1
          <if test="desc != null and desc != ''">
              and t.desc like CONCAT('%',#{desc},'%')
          </if>
        <if test="rid != null and rid != ''">
            and t.rid = #{rid}
        </if>
        and t.desc &lt;&gt; '超级管理员'
        ORDER BY t.created DESC
        LIMIT #{start}, #{pageSize}
    </select>
    <select id="queryRoleListCount" resultType="java.lang.Integer" parameterType="com.silita.model.TbRole">
        SELECT
        ifnull(count(1),0)
        FROM
        biaodaa_admin.`tb_role` t
        where 1=1
        <if test="desc != null and desc != ''">
            and t.desc like CONCAT('%',#{desc},'%')
        </if>
        <if test="rid != null and rid != ''">
            and t.rid = #{rid}
        </if>
        and t.desc &lt;&gt; '超级管理员'
    </select>
    <select id="queryRoleMaxRid" resultType="java.lang.Integer">
        SELECT MAX(rid) FROM biaodaa_admin.`tb_role`
    </select>
    <select id="queryRoleAll" resultType="java.util.Map">
        SELECT t.`rid`,t.`desc` FROM biaodaa_admin.`tb_role` t where t.rid &lt;&gt; 1
    </select>
    <select id="queryDesc" resultType="java.lang.String" parameterType="map">
        select t.desc from biaodaa_admin.`tb_role` t where t.desc = #{desc}
    </select>
    <select id="queryDescRid" resultType="java.lang.String" parameterType="map">
        select t.desc from biaodaa_admin.`tb_role` t where t.rid = #{rid}
    </select>


</mapper>