<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SysAreaMapper" >

  <select id="listSysAreaByParentId" parameterType="String" resultType="Map">
    SELECT
      pkid as pkid
      ,area_name as areaName
      ,area_short_name as areaShortName
      ,area_code as areaCode
      ,area_level as areaLevel
      ,area_parent_id as areaParentId
      ,phone_code as phoneCode
      ,created as created
      ,create_by as createBy
      ,updated as updated
      ,update_by as updateBy
    FROM sys_area
    WHERE
    <choose>
        <when test="_parameter != null and _parameter = '0'">
            area_level = 1
        </when>
        <otherwise>
            area_parent_id = #{areaParentId}
        </otherwise>
    </choose>

  </select>

  <select id="queryAreaName" parameterType="java.lang.String" resultType="java.lang.String">
     SELECT
        area_name as areaName
      FROM sys_area WHERE area_code = #{code}
  </select>

  <select id="getPkIdByAreaCode" parameterType="String" resultType="String">
    SELECT `pkid` FROM sys_area WHERE area_code = #{areaCode}
  </select>
</mapper>