<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SysFilesMapper" >

  <resultMap id="BaseResultMap" type="com.silita.model.SysFiles" >
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="biz_id" property="bizId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="file_path" property="filePath" jdbcType="VARCHAR" />
    <result column="oss_obj" property="ossObj" jdbcType="VARCHAR" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>


  <select id="listSysFilesByBizId" parameterType="com.silita.model.SysFiles" resultMap="BaseResultMap">
    SELECT * FROM sys_files WHERE biz_id = #{bizId}
  </select>

  <insert id="insertSysFiles" parameterType="com.silita.model.SysFiles">
    INSERT INTO
    sys_files (
      `biz_id`, `type`, `file_name`, `file_path`, `oss_obj`,
      `order_no`, `create_by`, `created`, `pkid`
    )
    VALUES (
      #{bizId}, #{type}, #{fileName}, #{filePath}, #{ossObj},
      #{orderNo}, #{createBy}, NOW(), #{pkid}
    )
  </insert>

  <update id="updateSysFilesByPkId" parameterType="com.silita.model.TbNtChange">
    UPDATE sys_files SET
    updated = NOW()
    WHERE pkid = #{pkid}
  </update>

  <delete id="deleteSysFilesByPkid" parameterType="com.silita.model.SysFiles">
    DELETE FROM sys_files WHERE pkid = #{pkid}
  </delete>

</mapper>