<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SysRoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.silita.model.SysRoleInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="permissions" property="permissions" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryIsVip" resultType="java.util.Map" parameterType="map">
    SELECT
      t1.user_id AS userId,
      t2.name
    FROM
      mishu_write.`sys_user_role` t1
      JOIN mishu_write.`sys_role_info` t2
        ON t1.role_id = t2.pkid
    WHERE t2.`NAME`='会员用户'
  </select>
</mapper>