<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.SysUserInfoMapper">
    <resultMap id="BaseResultMap" type="com.silita.model.SysUserInfo">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="login_pwd" property="loginPwd" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="phone_no" property="phoneNo" jdbcType="VARCHAR"/>
        <result column="channel" property="channel" jdbcType="VARCHAR"/>
        <result column="nike_name" property="nikeName" jdbcType="VARCHAR"/>
        <result column="cert_type" property="certType" jdbcType="INTEGER"/>
        <result column="cert_no" property="certNo" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="birth_year" property="birthYear" jdbcType="VARCHAR"/>
        <result column="in_city" property="inCity" jdbcType="VARCHAR"/>
        <result column="in_company" property="inCompany" jdbcType="VARCHAR"/>
        <result column="position" property="position" jdbcType="VARCHAR"/>
        <result column="image_url" property="imageUrl" jdbcType="VARCHAR"/>
        <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR"/>
        <result column="qq_open_id" property="qqOpenId" jdbcType="VARCHAR"/>
        <result column="is_enable" property="isEnable" jdbcType="BIT"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="lockUser" parameterType="java.util.Map">
        update mishu_write.sys_user_info set enable = #{isEnable},updated = now() where pkid = #{pkid}
    </update>
    <update id="updateRemark" parameterType="map">
        UPDATE mishu_write.`sys_user_info` t SET t.remark=#{remark} where t.pkid=#{pkid}
    </update>


    <select id="queryUserCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM mishu_write.sys_user_info t
        WHERE 1 = 1
        <if test="provCode != null and provCode != ''">
            AND t.`in_city` IN
            (
            SELECT t1.`area_code` FROM sys_area t1
            WHERE t1.`area_level` = 2 AND t1.`area_parent_id` =
            (
            SELECT t2.`pkid` FROM sys_area t2 WHERE t2.`area_code` = #{provCode} AND t2.`area_level` = 1
            )
            )
        </if>
        AND DATE_FORMAT(t.`created`,'%Y-%m-%d') = #{date}
  </select>

    <select id="queryUserTotal" resultType="java.lang.Integer" parameterType="com.silita.model.SysUserInfo">
        SELECT COUNT(1)
        FROM mishu_write.sys_user_info t
        WHERE
        <choose>
            <when test="type != null and type == 'count'">
                1=1
            </when>
            <otherwise>
                1=1
            </otherwise>
        </choose>
        <choose>
            <when test="cityCode != null and cityCode != ''">
                AND t.`in_city` = #{cityCode}
            </when>
            <otherwise>
                <if test="provCode != null and provCode != ''">
                    AND t.`in_city` IN
                    (
                    SELECT t1.`area_code` FROM sys_area t1
                    WHERE t1.`area_level` = 2 AND t1.`area_parent_id` =
                    (
                      SELECT t2.`pkid` FROM sys_area t2 WHERE t2.`area_code` = #{provCode} AND t2.`area_level` = 1
                    )
                    )
                </if>
            </otherwise>
        </choose>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND DATE_FORMAT(t.`created`,'%Y-%m-%d') &gt;= #{startDate}
            AND DATE_FORMAT(t.`created`,'%Y-%m-%d') &lt;= #{endDate}
        </if>
        <if test="sex != null and sex != ''">
           and t.sex = #{sex}
        </if>
        <if test="keyWord != null and keyWord != ''">
            and (t.user_name LIKE CONCAT('%', #{keyWord}, '%') or t.nike_name LIKE CONCAT('%', #{keyWord}, '%') or t.in_company LIKE CONCAT('%', #{keyWord}, '%')
                  or t.phone_no LIKE CONCAT('%', #{keyWord}, '%') or t.position LIKE CONCAT('%', #{keyWord}, '%')
            )
        </if>
    </select>

    <select id="queryUserList" resultType="java.util.Map" parameterType="com.silita.model.SysUserInfo">
        SELECT
            t.pkid as pkid
            ,t.nike_name AS nikeName
            ,t.user_name as userName
            ,t.ENABLE as isEnable
            ,t.in_company as company
            ,t.position as `position`
            ,(
              case t.sex when 1 then '男'
              when 2 then '女'
              else '其他'
              end
            ) as `sex`
            ,t.phone_no as phoneNo
            ,DATE_FORMAT(t.`created`,'%Y-%m-%d') as created
            ,t1.area_name as city
            ,(SELECT t3.`area_name` FROM sys_area t3 WHERE t3.`area_level` = 1 AND t3.`pkid` =
              (SELECT t4.`area_parent_id` FROM sys_area t4 WHERE t4.`area_code` = t.in_city AND t4.`area_level` = 2)) AS province
        FROM mishu_write.sys_user_info t
        left join sys_area t1 on t.in_city = t1.area_code and t1.area_level = 2
        WHERE 1 = 1
        <choose>
            <when test="cityCode != null and cityCode != ''">
                AND t.`in_city` = #{cityCode}
            </when>
            <otherwise>
                <if test="provCode != null and provCode != ''">
                    AND t.`in_city` IN
                    (
                        SELECT t1.`area_code` FROM sys_area t1
                        WHERE t1.`area_level` = 2 AND t1.`area_parent_id` =
                        (
                          SELECT t2.`pkid` FROM sys_area t2 WHERE t2.`area_code` = #{provCode} AND t2.`area_level` = 1
                        )
                    )
                </if>
            </otherwise>
        </choose>
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            AND DATE_FORMAT(t.`created`,'%Y-%m-%d') &gt;= #{startDate}
            AND DATE_FORMAT(t.`created`,'%Y-%m-%d') &lt;= #{endDate}
        </if>
        <if test="sex != null and sex != ''">
           and t.sex = #{sex}
        </if>
        <if test="keyWord != null and keyWord != ''">
            and (t.user_name LIKE CONCAT('%', #{keyWord}, '%') or t.nike_name LIKE CONCAT('%', #{keyWord}, '%') or t.in_company LIKE CONCAT('%', #{keyWord}, '%')
            or t.phone_no LIKE CONCAT('%', #{keyWord}, '%') or t.position LIKE CONCAT('%', #{keyWord}, '%')
            )
        </if>
        Order by t.created desc
        limit #{start},#{pageSize}
    </select>
    <select id="queryActiveUserCount" resultType="java.util.Map" parameterType="map">
        SELECT
          (SELECT COUNT(1) FROM (
          SELECT
            DISTINCT(`login_tel`)
          FROM
            mishu.`tb_login_info`
          WHERE DATE(created_date) = #{yesterday}) AS a) AS yesterdayActive,
          (SELECT COUNT(1) FROM (
          SELECT
            DISTINCT(`login_tel`)
          FROM
            mishu.`tb_login_info`
          WHERE DATE(created_date) = #{today}) AS b) AS todayActive
        FROM
          mishu.`tb_login_info`
          GROUP BY yesterdayActive,todayActive
    </select>
    <select id="queryActiveUserList" resultType="java.util.Map" parameterType="map">
        SELECT
          t.pkid,
          t.phone_no AS phoneNo,
          t.login_name AS loginName,
          COUNT(t4.login_tel) AS loginCount,
          t.`created`,
          t3.expired_date AS expiredDate,
          t.inviter_code as inviterCode,
          t.own_invite_code AS ownInviteCode
        FROM
        mishu.`tb_login_info` t4
        LEFT JOIN mishu_write.`sys_user_info` t
        ON t.phone_no = t4.`login_tel`
        JOIN mishu_write.`tb_vip_info` t3
        ON t3.user_id = t.pkid
            WHERE 1=1
            <if test="(startDate == null and endDate == null) or (startDate == '' and endDate == '')">
                AND DATE(t4.created_date) &gt;= #{loginTime}
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                and t.phone_no like CONCAT('%',#{phoneNo},'%')
            </if>
            <if test="startDate != null and startDate !=''">
                and DATE(t4.created_date) &gt;= #{startDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and DATE(t4.created_date) &lt;= #{endDate}
            </if>
            GROUP BY t4.`login_tel`
            ORDER BY loginCount DESC
    </select>

    <select id="queryActiveUserListAll" resultType="java.util.Map" parameterType="map">
        SELECT
        t.pkid,
        t.phone_no AS phoneNo,
        t.login_name AS loginName,
        COUNT(t4.login_tel) AS loginCount,
        t.`created`,
        t3.expired_date AS expiredDate,
        t.inviter_code as inviterCode,
        t.own_invite_code AS ownInviteCode
        FROM
        mishu_write.`tb_vip_info` t3
        JOIN mishu_write.`sys_user_info` t
        ON t3.user_id = t.pkid
        JOIN mishu.tb_login_info t4
        ON t.phone_no=t4.`login_tel`
        WHERE 1=1
        <if test="(startDate == null and endDate == null) or (startDate == '' and endDate == '')">
            AND DATE(t4.created_date) &gt;= #{loginTime}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and t.phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and DATE(t4.created_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and DATE(t4.created_date) &lt;= #{endDate}
        </if>
        GROUP BY t4.`login_tel`
        ORDER BY loginCount DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="queryActiveUserListAllCount" resultType="java.util.Map" parameterType="map">
        select
        COUNT(t4.login_tel) AS loginCount
        FROM
        mishu_write.`tb_vip_info` t3
        JOIN mishu_write.`sys_user_info` t
        ON t3.user_id = t.pkid
        JOIN mishu.tb_login_info t4
        ON t.phone_no=t4.`login_tel`
        WHERE 1=1
        <if test="(startDate == null and endDate == null) or (startDate == '' and endDate == '')">
            AND DATE(t4.created_date) &gt;= #{loginTime}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and t.phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and DATE(t4.created_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and DATE(t4.created_date) &lt;= #{endDate}
        </if>
        GROUP BY t4.`login_tel`
    </select>

    <select id="queryUserInfoList" resultType="java.util.Map" parameterType="map">
        SELECT
        t.pkid,
        t.phone_no AS phoneNo,
        t.login_name AS loginName,
        t.in_company AS inCompany,
        t.`created`,
        t.inviter_code AS inviterCode,
        t.own_invite_code AS ownInviteCode,
        t3.expired_date AS expiredDate
        FROM
        mishu_write.`sys_user_info` t
        LEFT JOIN   mishu_write.`tb_vip_info` t3
        ON t.pkid = t3.user_id
        WHERE 1=1
        <if test="createStartDate != null and createStartDate !=''">
            and DATE(t.`created`) &gt;= #{createStartDate}
        </if>
        <if test="createdEndData != null and createdEndData !=''">
            and DATE(t.`created`) &lt;= #{createdEndData}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and t.phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and DATE(t3.expired_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and DATE(t3.expired_date) &lt;= #{endDate}
        </if>
        GROUP BY t.`phone_no`
        ORDER BY t3.expired_date DESC
    </select>

    <select id="queryUserInfoListAll" resultType="java.util.Map" parameterType="map">
        SELECT
        t.pkid,
        t.phone_no AS phoneNo,
        t.login_name AS loginName,
        t.in_company AS inCompany,
        t.`created`,
        t.inviter_code AS inviterCode,
        t.own_invite_code AS ownInviteCode,
        t3.expired_date AS expiredDate
        FROM
        mishu_write.`sys_user_info` t
        LEFT JOIN   mishu_write.`tb_vip_info` t3
        ON t.pkid = t3.user_id
        WHERE 1=1
        <if test="createStartDate != null and createStartDate !=''">
            and DATE(t.`created`) &gt;= #{createStartDate}
        </if>
        <if test="createdEndData != null and createdEndData !=''">
            and DATE(t.`created`) &lt;= #{createdEndData}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and t.phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and DATE(t3.expired_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and DATE(t3.expired_date) &lt;= #{endDate}
        </if>
        GROUP BY t.`phone_no`
        ORDER BY t3.expired_date DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="queryUserInfoListAllCount" resultType="java.lang.Integer" parameterType="map">
        SELECT
        ifnull(count(0),0)
        FROM
        mishu_write.`sys_user_info` t
        LEFT JOIN   mishu_write.`tb_vip_info` t3
        ON t.pkid = t3.user_id
        WHERE 1=1
        <if test="createStartDate != null and createStartDate !=''">
            and DATE(t.`created`) &gt;= #{createStartDate}
        </if>
        <if test="createdEndData != null and createdEndData !=''">
            and DATE(t.`created`) &lt;= #{createdEndData}
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and t.phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
        <if test="startDate != null and startDate !=''">
            and DATE(t3.expired_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate !=''">
            and DATE(t3.expired_date) &lt;= #{endDate}
        </if>
    </select>

    <!--获取用户统计-->
    <select id="queryUserInfoCount" resultType="java.util.Map" parameterType="map">
        SELECT
        (SELECT
        COUNT(0)
        FROM
        mishu_write.`sys_user_info`
        WHERE DATE(created) = #{yesterday}) AS yesterdayCount,
        (SELECT
        COUNT(0)
        FROM
        mishu_write.`sys_user_info`
        WHERE DATE(created) = #{today}) AS todayCount,
        (SELECT
            COUNT(1)
          FROM
            (SELECT DISTINCT
              (t.`phone_no`)
            FROM
              mishu_write.`sys_user_info` t
              LEFT JOIN mishu_write.`tb_vip_info` t3
                ON t.pkid = t3.user_id) AS a) total
        FROM
        mishu_write.`sys_user_info`
        GROUP BY total
    </select>
    <select id="querySingleUserInfo" resultType="java.util.Map" parameterType="map">
        SELECT
          t.pkid,
          t.phone_no AS phoneNo,
          t.nike_name AS nikeName,
          t.image_url AS imageUrl,
          t.user_name AS userName,
          t.sex,
          t.birth_year AS birthYear,
          t.in_city AS inCity,
          t.in_company AS inCompany,
          t.POSITION,
          t.email,
          t.inviter_code AS inviterCode,
          t.created,
          t.remark
        FROM
          mishu_write.`sys_user_info` t
          WHERE pkid=#{pkid}
    </select>
    <select id="queryPast" resultType="java.util.Map" parameterType="map">
        SELECT
          t.pkid,
          t2.`expired_date` AS expiredDate
        FROM
         mishu_write.`sys_user_info` t
         JOIN mishu_write.`tb_vip_info` t2
         ON t.`pkid` = t2.`user_id`
    </select>
    <select id="queryInviterInfo" resultType="java.util.Map" parameterType="map">
        SELECT
          t.pkid,
          t.phone_no AS phoneNo,
          t.login_name AS loginName,
          t.in_company AS inCompany,
          t.created,
          t1.expired_date AS expiredDate
        FROM
          mishu_write.`sys_user_info` t
          JOIN mishu_write.`tb_vip_info` t1
          ON t.pkid=t1.`user_id`
        WHERE t.inviter_code = #{ownInviteCode}
        order by t.created desc
    </select>
    <select id="queryinviterCode" resultType="java.lang.String" parameterType="map">
        select own_invite_code from mishu_write.`sys_user_info` where pkid=#{userId}
    </select>
    <select id="queryPhone" resultType="java.util.Map" parameterType="map">
        SELECT pkid,phone_no AS phoneNo FROM mishu_write.`sys_user_info` where 1=1
        <if test="orderList != null and orderList.size >0">
           and  pkid in
            (
            <foreach collection="orderList" item="list" separator=",">
                #{list.userId}
            </foreach>
            )
        </if>
        <if test="phoneNo != null and phoneNo != ''">
            and phone_no like CONCAT('%',#{phoneNo},'%')
        </if>
    </select>
    <select id="queryInviterPhone" resultType="java.lang.String" parameterType="map">
        SELECT phone_no AS phoneNo FROM mishu_write.`sys_user_info` where own_invite_code=#{inviterCode}
    </select>



</mapper>