<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbCompanySecurityCertMapper">
    <resultMap id="BaseResultMap" type="com.silita.model.TbCompanySecurityCert">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="com_id" property="comId" jdbcType="VARCHAR"/>
        <result column="cert_no" property="certNo" jdbcType="VARCHAR"/>
        <result column="cert_level" property="certLevel" jdbcType="VARCHAR"/>
        <result column="cert_result" property="certResult" jdbcType="VARCHAR"/>
        <result column="cert_level_str" property="certLevelStr" jdbcType="VARCHAR"/>
        <result column="cert_result_str" property="certResultStr" jdbcType="VARCHAR"/>
        <result column="expired" property="expired" jdbcType="TIMESTAMP"/>
        <result column="expired_str" property="expiredStr" jdbcType="VARCHAR"/>
        <result column="cert_prov_code" property="certProvCode" jdbcType="VARCHAR"/>
        <result column="cert_city_code" property="certCityCode" jdbcType="VARCHAR"/>
        <result column="cert_origin" property="certOrigin" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryCompanySecurityList" resultMap="BaseResultMap"
            parameterType="com.silita.model.TbCompanySecurityCert">
        select *
        ,date_format(expired,'%Y-%m-%h') as expired_str
        ,(
        CASE WHEN cert_level = 1
        THEN '省级'
        ELSE
        '市级'
        END
        ) AS cert_level_str
        ,(
        CASE WHEN cert_level = 1
        THEN '优秀'
        ELSE
        '合格'
        END
        ) AS cert_result_str
        from tb_company_security_cert
        where 1=1
        <if test="comId != null and comId != ''">
            and com_id = #{comId}
        </if>
        <choose>
            <when test="certNo != null and certNo !=''">
                and cert_no is not null
            </when>
            <otherwise>
                and cert_no is null
            </otherwise>
        </choose>
        <if test="certOrigin != null and certOrigin != ''">
            and cert_origin = #{certOrigin}
        </if>
    </select>

    <delete id="deleteCompanySecurity" parameterType="java.lang.String">
    delete from tb_company_security_cert where pkid = #{pkid}
  </delete>

    <insert id="insertCompanySecurity" parameterType="com.silita.model.TbCompanySecurityCert">
        INSERT INTO `tb_company_security_cert`
        (
        <if test="pkid != null and pkid != ''">
            `pkid`,
        </if>
        <if test="comId != null and comId != ''">
            `com_id`,
        </if>
        <if test="certNo != null and certNo != ''">
            `cert_no`,
        </if>
        <if test="certLevel != null and certLevel != ''">
            `cert_level`,
        </if>
        <if test="certResult != null and certResult != ''">
            `cert_result`,
        </if>
        <if test="expired != null">
            `expired`,
        </if>
        <if test="certProvCode != null and certProvCode != ''">
            `cert_prov_code`,
        </if>
        <if test="certCityCode != null and certCityCode != ''">
            `cert_city_code`,
        </if>
        <if test="certOrigin != null and certOrigin != ''">
            `cert_origin`,
        </if>
        <if test="updated != null">
            `updated`,
        </if>
        <if test="updateBy != null and updateBy != ''">
            `update_by`,
        </if>
        <if test="created != null">
            `created`,
        </if>
        <if test="createBy != null and createBy != ''">
            `create_by`
        </if>
        )
        VALUES (
        <if test="pkid != null and pkid != ''">
            #{pkid},
        </if>
        <if test="comId != null and comId != ''">
            #{comId},
        </if>
        <if test="certNo != null and certNo != ''">
            #{certNo},
        </if>
        <if test="certLevel != null and certLevel != ''">
            #{certLevel},
        </if>
        <if test="certResult != null and certResult != ''">
            #{certResult},
        </if>
        <if test="expired != null">
            #{expired},
        </if>
        <if test="certProvCode != null and certProvCode != ''">
            #{certProvCode},
        </if>
        <if test="certCityCode != null and certCityCode != ''">
            #{certCityCode},
        </if>
        <if test="certOrigin != null and certOrigin != ''">
            #{certOrigin},
        </if>
        <if test="updated != null">
            #{updated},
        </if>
        <if test="updateBy != null and updateBy != ''">
            #{updateBy},
        </if>
        <if test="created != null">
            #{created},
        </if>
        <if test="createBy != null and createBy != ''">
            #{createBy}
        </if>
        )
    </insert>

    <update id="updateCompanySecurity" parameterType="com.silita.model.TbCompanySecurityCert">
        UPDATE `tb_company_security_cert`
        SET
        <if test="comId != null and comId != ''">
            `com_id` = #{comId},
        </if>
        <if test="certNo != null and certNo != ''">
            `cert_no` = #{certNo},
        </if>
        <if test="certLevel != null and certLevel != ''">
            `cert_level` = #{certLevel},
        </if>
        <if test="certResult != null and certResult != ''">
            `cert_result` = #{certResult},
        </if>
        <if test="expired != null">
            `expired` = #{expired},
        </if>
        <if test="certProvCode != null and certProvCode != ''">
            `cert_prov_code` = #{certProvCode},
        </if>
        <if test="certCityCode != null and certCityCode != ''">
            `cert_city_code` = #{certCityCode},
        </if>
        <if test="certOrigin != null and certOrigin != ''">
            `cert_origin` = #{certOrigin},
        </if>
        <if test="created != null">
            `created` = #{created},
        </if>
        <if test="create_by != null and create_by != ''">
            `create_by` = #{createBy}.
        </if>
        <if test="updated != null">
            `updated` = #{updated},
        </if>
        <if test="updateBy != null and updateBy != ''">
            `update_by` = #{updateBy}
        </if>
        WHERE `pkid` =#{pkid}
    </update>

    <select id="queryCompanySecurityDetail" resultMap="BaseResultMap"
            parameterType="com.silita.model.TbCompanySecurityCert">
        select *
        from tb_company_security_cert
        where 1=1
        <if test="comId != null and comId != ''">
            and com_id = #{comId}
        </if>
        <choose>
            <when test="certNo != null and certNo !=''">
                and cert_no is not null
            </when>
            <otherwise>
                and cert_no is null
            </otherwise>
        </choose>
        <if test="certOrigin != null and certOrigin != ''">
            and cert_origin = #{certOrigin}
        </if>
    </select>

    <select id="queryCertNoCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select Count(1)
        from tb_company_security_cert
        where cert_no = #{certNo}
    </select>

    <select id="queryCompanyCertList" parameterType="com.silita.model.TbCompanySecurityCert" resultType="java.util.Map">
        SELECT
          t.`com_name` AS comName
          ,t1.`pkid` AS pkid
          <if test="tabType != null and tabType == 'safety_permission_cert'">
              ,t1.`cert_no` AS certNo
          </if>
          ,t2.`area_name` AS certProv
          ,DATE_FORMAT(t1.`expired`, '%Y-%m-%d') AS expired
          <if test="tabType != null and tabType == 'safety_cert'">
              ,t1.`cert_level` AS certLevel
              ,t1.`cert_result` AS certResult
              ,t3.`area_name` AS certCity
          </if>
        FROM
          tb_company t
          JOIN tb_company_security_cert t1
            ON t.`com_id` = t1.`com_id`
          LEFT JOIN sys_area t2
            ON t2.`area_code` = t1.`cert_prov_code`
        <if test="tabType != null and tabType == 'safety_cert'">
          LEFT JOIN sys_area t3
            ON t3.`area_code` = t1.`cert_city_code`
        </if>
        WHERE t1.cert_origin = 2
          <if test="comName != null and comName != ''">
              AND t.`com_name` LIKE CONCAT('%', #{comName}, '%')
          </if>
          <if test="certNo != null and certNo != ''">
              AND t1.`cert_no` LIKE CONCAT('%', #{certNo}, '%')
          </if>
          <if test="certProvCode != null and certProvCode != ''">
              AND t1.`cert_prov_code` = #{certProvCode}
          </if>
          <if test="certCityCode != null and certCityCode != ''">
              AND t1.`cert_city_code` = #{certCityCode}
          </if>
          <if test="expiredStr != null and expiredStr != ''">
              AND DATE_FORMAT(t1.`expired`, '%Y-%m-%d') = #{expiredStr}
          </if>
          <if test="certLevel != null and certLevel != ''">
              AND t1.`cert_level` = #{certLevel}
          </if>
          <if test="certResult != null and certResult != ''">
              AND t1.`cert_result` = #{certResult}
          </if>
          <if test="tabType != null and tabType == 'safety_permission_cert'">
              AND t1.`cert_no` is not null AND t1.`cert_no` != ''
          </if>
          <if test="tabType != null and tabType == 'safety_cert'">
              AND (t1.`cert_no` is null OR t1.`cert_no` = '')
          </if>
        ORDER BY t1.`expired` DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="queryCompanyCertCount" parameterType="com.silita.model.TbCompanySecurityCert" resultType="java.lang.Integer">
        SELECT
          count(1)
        FROM
        tb_company t
        JOIN tb_company_security_cert t1
        ON t.`com_id` = t1.`com_id`
        WHERE t1.cert_origin = 2
        <if test="comName != null and comName != ''">
            AND t.`com_name` LIKE CONCAT('%', #{comName}, '%')
        </if>
        <if test="certNo != null and certNo != ''">
            AND t1.`cert_no` LIKE CONCAT('%', #{certNo}, '%')
        </if>
        <if test="certProvCode != null and certProvCode != ''">
            AND t1.`cert_prov_code` = #{certProvCode}
        </if>
        <if test="certCityCode != null and certCityCode != ''">
            AND t1.`cert_city_code` = #{certCityCode}
        </if>
        <if test="expiredStr != null and expiredStr != ''">
            AND DATE_FORMAT(t1.`expired`, '%Y-%m-%d') = #{expiredStr}
        </if>
        <if test="certLevel != null and certLevel != ''">
            AND t1.`cert_level` = #{certLevel}
        </if>
        <if test="certResult != null and certResult != ''">
            AND t1.`cert_result` = #{certResult}
        </if>
        <if test="tabType != null and tabType == 'safety_permission_cert'">
            AND t1.`cert_no` is not null AND t1.`cert_no` != ''
        </if>
        <if test="tabType != null and tabType == 'safety_cert'">
            AND (t1.`cert_no` is null OR t1.`cert_no` = '')
        </if>
        ORDER BY t1.`expired` DESC
    </select>
</mapper>