<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtQuaGroupMapper" >
  <resultMap id="BaseResultMap" type="com.silita.model.TbNtQuaGroup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="qua_cate_id" property="quaCateId" jdbcType="VARCHAR" />
    <result column="qua_id" property="quaId" jdbcType="VARCHAR" />
    <result column="qua_grade_id" property="quaGradeId" jdbcType="VARCHAR" />
    <result column="rel_type" property="relType" jdbcType="VARCHAR" />
    <result column="is_head" property="isHead" jdbcType="BIT" />
    <result column="px" property="px" jdbcType="VARCHAR" />
  </resultMap>


  <select id="listTbNtQuaGroupByGroupId" parameterType="String" resultMap="BaseResultMap">
    SELECT *
    FROM `tb_nt_qua_group`
    WHERE 1=1
    <if test="groupId != null and groupId != ''">
      AND `group_id` = #{groupId}
    </if>
    ORDER BY `px` ASC
  </select>

  <insert id="batchInsertTbNtQuaGroup" parameterType="com.silita.model.TbNtQuaGroup">
    INSERT INTO `tb_nt_qua_group` (
    `pkid`, `group_id`, `qua_cate_id`, `qua_id`, `qua_grade_id`,
    `rel_type`, `is_head`, `px`
    )
    VALUES
    <foreach collection="list" item="temp" index="index" separator=",">
      (#{temp.pkid}, #{temp.groupId}, #{temp.quaCateId}, #{temp.quaId}, #{temp.quaGradeId},
      #{temp.relType}, #{temp.isHead}, #{temp.px}
      )
    </foreach>
  </insert>

  <update id="batchUpdateTbNtQuaGroup" parameterType="com.silita.model.TbNtQuaGroup">
    <foreach collection="tbNtQuaGroups" item="temp" index="index" open="" close="" separator=";">
      UPDATE `tb_nt_qua_group` SET
      `group_id` = #{temp.groupId},
      `qua_id` = #{temp.quaId},
      `rel_type` = #{temp.relType},
      `is_head` = #{temp.isHead},
      `px` = #{temp.px}
      WHERE `pkid` = #{temp.pkid}
    </foreach>
  </update>

  <delete id="batchDeleteTbNtQuaGroupByGroupId" parameterType="String">
    DELETE FROM `tb_nt_qua_group`
    <where>
      `group_id` IN
      <foreach collection="array" open="(" close=")" separator="," item="ele">
        #{ele}
      </foreach>
    </where>
  </delete>

</mapper>