<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtBidsMapper">

    <resultMap id="BaseResultMap" type="com.silita.model.TbNtBids">
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="nt_id" property="ntId" jdbcType="VARCHAR"/>
        <result column="edit_code" property="editCode" jdbcType="VARCHAR"/>
        <result column="td_edit_code" property="tdEditCode" jdbcType="VARCHAR"/>
        <result column="segment" property="segment" jdbcType="VARCHAR"/>
        <result column="controll_sum" property="controllSum" jdbcType="DOUBLE"/>
        <result column="pro_sum" property="proSum" jdbcType="DOUBLE"/>
        <result column="pro_type" property="proType" jdbcType="VARCHAR"/>
        <result column="pro_duration" property="proDuration" jdbcType="VARCHAR"/>
        <result column="pb_mode" property="pbMode" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>

        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pub_date" property="pubDate" jdbcType="VARCHAR"/>
        <result column="city_code" property="cityCode" jdbcType="VARCHAR"/>
        <result column="county_code" property="countyCode" jdbcType="VARCHAR"/>
        <result column="biness_type" property="binessType" jdbcType="VARCHAR"/>

        <result column="city_code_name" property="cityCodeName" jdbcType="VARCHAR"/>
        <result column="county_code_name" property="countyCodeName" jdbcType="VARCHAR"/>
        <result column="pro_type_name" property="proTypeName" jdbcType="VARCHAR"/>
        <result column="biness_type_name" property="binessTypeName" jdbcType="VARCHAR"/>
        <result column="pb_mode_name" property="pbModeName" jdbcType="VARCHAR"/>
        <result column="nt_status" property="ntStatus" jdbcType="VARCHAR"/>
        <!-- 中标候选人 -->
        <collection property="bidsCands" ofType="com.silita.model.TbNtBidsCand">
            <id column="c_pkid" property="pkid" jdbcType="VARCHAR"/>
            <result column="c_nt_id" property="ntId" jdbcType="VARCHAR"/>
            <result column="nt_bids_id" property="ntBidsId" jdbcType="VARCHAR"/>
            <result column="f_candidate" property="fCandidate" jdbcType="VARCHAR"/>
            <result column="f_quote" property="fQuote" jdbcType="DOUBLE"/>
            <result column="f_pro_leader" property="fProLeader" jdbcType="VARCHAR"/>
            <result column="f_tech_leader" property="fTechLeader" jdbcType="VARCHAR"/>
            <result column="f_builder" property="fBuilder" jdbcType="VARCHAR"/>
            <result column="f_safety" property="fSafety" jdbcType="VARCHAR"/>
            <result column="f_quality" property="fQuality" jdbcType="VARCHAR"/>
            <result column="number" property="number" jdbcType="INTEGER"/>
            <result column="c_created" property="created" jdbcType="TIMESTAMP"/>
            <result column="c_create_by" property="createBy" jdbcType="VARCHAR"/>
            <result column="c_updated" property="updated" jdbcType="TIMESTAMP"/>
            <result column="c_update_by" property="updateBy" jdbcType="VARCHAR"/>
            <result column="c_source" property="source" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <insert id="insertTbNtBids" parameterType="com.silita.model.TbNtBids">
      INSERT INTO ${tableName}
      (
        `pkid`, `nt_id`, `edit_code`, `td_edit_code`, `segment`,
        `controll_sum`, `pro_sum`, `pro_type`, `pro_duration`, `pb_mode`,
        `create_by`, `created`
      )
      VALUES (
        #{pkid}, #{ntId}, #{editCode}, #{tdEditCode}, #{segment},
        #{controllSum}, #{proSum}, #{proType}, #{proDuration}, #{pbMode},
        #{createBy}, NOW()
      )
  </insert>

    <update id="updateTbNtBidsByNtIdAndSegment" parameterType="com.silita.model.TbNtBids">
        UPDATE ${tableName} SET
        <if test="editCode != null and editCode != ''">
            `edit_code` = #{editCode},
        </if>
        <if test="tdEditCode != null and tdEditCode != ''">
            `td_edit_code` = #{tdEditCode},
        </if>
        `segment` = #{segment},
        `controll_sum` = #{controllSum},
        `pro_sum` = #{proSum},
        `pro_duration` = #{proDuration},
        `pb_mode` = #{pbMode},
        `pro_type` = #{proType},
        `update_by` = #{updateBy},
        `updated` = NOW()
        WHERE `nt_id` = #{ntId} AND `segment` = #{segment}
    </update>

    <select id="countNtBidsByNtIdAndSegment" parameterType="com.silita.model.TbNtBids" resultType="Integer">
      SELECT COUNT(*) FROM ${tableName} WHERE `nt_id` = #{ntId} AND `segment` = #{segment}
    </select>

    <select id="listNtBidsByNtId" parameterType="com.silita.model.TbNtBids" resultMap="BaseResultMap">
      SELECT bids.pkid, bids.nt_id, bids.edit_code, bids.td_edit_code, bids.segment,
      bids.controll_sum, bids.pro_sum, bids.pro_type, bids.pro_duration, bids.pb_mode,
      bids.created, bids.create_by, bids.updated, bids.update_by, mian.title,
      mian.title, mian.pub_date, mian.city_code, mian.county_code, mian.biness_type,
      cand.pkid AS c_pkid, cand.f_candidate, cand.f_quote, cand.f_pro_leader, cand.f_tech_leader,
      cand.f_builder, cand.f_safety, cand.f_quality, cand.number, cand.created AS c_created,
      cand.create_by AS c_create_by, cand.updated AS c_updated, cand.update_by AS c_update_by, cand.source AS c_source, cand.nt_bids_id,
      cand.nt_id AS c_nt_id, mian.`source`, mian.nt_status,
      (SELECT `name` FROM dic_common WHERE `code` = bids.pb_mode) AS pb_mode_name,
      (SELECT `area_name` FROM sys_area WHERE area_code = mian.city_code) AS city_code_name,
      (SELECT `area_name` FROM sys_area WHERE area_code = mian.county_code) AS county_code_name,
      (SELECT `name` FROM twf_dict WHERE `type` = 4 AND code = bids.pro_type) AS pro_type_name,
      (SELECT `name` FROM twf_dict WHERE `type` = 1 AND code = mian.biness_type) AS biness_type_name
      FROM tb_nt_mian_${source} mian
      LEFT JOIN ${tableName} bids ON mian.pkid = bids.nt_id
      LEFT JOIN tb_nt_bids_cand cand ON bids.pkid = cand.nt_bids_id
      <!-- LEFT JOIN tb_nt_tenders_${source} tend ON bids.td_edit_code = tend.edit_code -->
      WHERE mian.pkid = #{ntId} AND mian.is_enable = 1
    </select>

    <select id="getNtBidsByPkid" parameterType="com.silita.model.TbNtBids" resultMap="BaseResultMap">
        SELECT bids.pkid, bids.nt_id, bids.edit_code, bids.td_edit_code, bids.segment,
        bids.controll_sum, bids.pro_sum, bids.pro_type, bids.pro_duration, bids.pb_mode,
        bids.created, bids.create_by, bids.updated, bids.update_by, mian.title,
        mian.title, mian.pub_date, mian.city_code, mian.county_code, mian.biness_type,
        cand.pkid AS c_pkid, cand.f_candidate, cand.f_quote, cand.f_pro_leader, cand.f_tech_leader,
        cand.f_builder, cand.f_safety, cand.f_quality, cand.number, cand.created AS c_created,
        cand.create_by AS c_create_by, cand.updated AS c_updated, cand.update_by AS c_update_by, cand.source AS c_source, cand.nt_bids_id,
        cand.nt_id AS c_nt_id, mian.`source`, mian.nt_status,
        (SELECT `name` FROM dic_common WHERE `code` = bids.pb_mode) AS pb_mode_name,
        (SELECT `area_name` FROM sys_area WHERE area_code = mian.city_code) AS city_code_name,
        (SELECT `area_name` FROM sys_area WHERE area_code = mian.county_code) AS county_code_name,
        (SELECT `name` FROM twf_dict WHERE `type` = 4 AND code = bids.pro_type) AS pro_type_name,
        (SELECT `name` FROM twf_dict WHERE `type` = 1 AND code = mian.biness_type) AS biness_type_name
        FROM ${tableName} bids
        LEFT JOIN tb_nt_mian_${source} mian ON bids.nt_id = mian.pkid
        LEFT JOIN tb_nt_bids_cand cand ON bids.pkid = cand.nt_bids_id
        WHERE bids.pkid = #{pkid} AND mian.is_enable = 1
    </select>

    <delete id="batchDeleteNtBidsByPkId" parameterType="Map">
        DELETE FROM ${tableName}
        <where>
            pkid IN
            <foreach collection="array" open="(" close=")" separator="," item="ele">
                #{ele}
            </foreach>
        </where>
    </delete>

    <select id="countNtTendersByNtId" parameterType="com.silita.model.TbNtBids" resultType="Integer">
        SELECT COUNT(*) FROM ${tableName} WHERE nt_id = #{ntId}
    </select>

    <select id="getNtIdByNtId" parameterType="com.silita.model.TbNtBids" resultType="String">
        SELECT `nt_id` FROM ${tableName} WHERE pkid = #{pkid}
    </select>
</mapper>