<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtMianMapper">

    <select id="listNtMain" parameterType="com.silita.model.TbNtMian" resultType="Map">
        SELECT `pkid`, `title`, `pub_date` AS pubDate, `src_site` AS srcSite, `nt_status` AS ntStatus
        FROM ${tableName}
        WHERE 1=1
        <if test="proviceCode !=null and proviceCode!=''">
            AND provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND nt_category = #{ntCategory}
        </if>
        <choose>
            <when test="ntStatus =='3' or ntStatus ==3">
                AND nt_status != 2
            </when>
            <when test="ntStatus !=null and ntStatus!=''">
                AND nt_status = #{ntStatus}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        ORDER BY `pub_date` DESC, `nt_status` ASC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="countNtMian" parameterType="com.silita.model.TbNtMian" resultType="Integer">
        SELECT COUNT(*)
        FROM ${tableName}
        WHERE 1=1
        <if test="proviceCode !=null and proviceCode!=''">
            AND provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND nt_category = #{ntCategory}
        </if>
        <choose>
            <when test="ntStatus =='3' or ntStatus ==3">
                AND nt_status != 2
            </when>
            <when test="ntStatus !=null and ntStatus!=''">
                AND nt_status = #{ntStatus}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="listTendersDetail" parameterType="com.silita.model.TbNtMian" resultType="java.util.LinkedHashMap">
        SELECT main.title, CASE main.nt_status WHEN 0 THEN '未编辑' WHEN 1 then '已编辑' WHEN 2 then '已审核' WHEN 4 then '未通过' ELSE '未审核' END AS nt_status, CONCAT(tenders.segment,'标段') AS segment, main.pub_date, main.city_code,
        main.county_code, main.biness_type, main.nt_type, '资质', '控制价',
        main.pro_sum, main.pro_duration, main.pb_mode, tenders.bid_bonds, tenders.bid_bonds_end_time,
        tenders.enroll_end_time,tenders.enroll_addr, tenders.audit_time, tenders.bid_end_time, tenders.opening_addr,
        '平台备案要求', '招标状态', tenders.opening_person, '变更信息', main.url
        FROM tb_nt_mian_hunan AS main
        LEFT JOIN tb_nt_tenders_hunan AS tenders ON main.pkid = tenders.nt_id
        WHERE 1=1
        <if test="proviceCode !=null and proviceCode!=''">
            AND main.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND main.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND main.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND main.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND main.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND main.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND main.nt_category = #{ntCategory}
        </if>
        <choose>
            <when test="ntStatus =='3' or ntStatus ==3">
                AND main.nt_status != 2
            </when>
            <when test="ntStatus !=null and ntStatus!=''">
                AND main.nt_status = #{ntStatus}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        ORDER BY pub_date DESC
    </select>

    <delete id="deleteNtMainByPkId" parameterType="com.silita.model.TbNtMian">
        DELETE FROM ${tableName} WHERE pkid = #{pkid}
    </delete>

    <update id="updateNtMainCategoryAndStatusByPkId" parameterType="com.silita.model.TbNtMian">
        UPDATE ${tableName} SET
        <if test="ntCategory !=null and ntCategory!=''">
            `nt_category` = #{ntCategory},
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            `nt_status` = #{ntStatus},
        </if>
        `updated` = NOW()
        WHERE pkid = #{pkid}
    </update>

    <update id="updateNtMainByPkId" parameterType="com.silita.model.TbNtMian">
        UPDATE ${tableName} SET
        <if test="binessType !=null and binessType!=''">
            `biness_type` = #{binessType},
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            `nt_category` = #{ntCategory},
        </if>
        <if test="ntType !=null and ntType!=''">
            `nt_type` = #{ntType},
        </if>
        <if test="controllSum !=null and controllSum!=''">
            `controll_sum` = #{controllSum},
        </if>
        <if test="proSum !=null and proSum!=''">
            `pro_sum` = #{proSum},
        </if>
        <if test="proDuration !=null and proDuration!=''">
            `pro_duration` = #{proDuration},
        </if>
        <if test="pbMode !=null and pbMode!=''">
            `pb_mode` = #{pbMode},
        </if>
        <if test="title !=null and title!=''">
            `title` = #{title},
        </if>
        <if test="pubDate !=null and pubDate!=''">
            `pub_date` = #{pubDate},
        </if>
        <if test="url !=null and url!=''">
            `url` = #{url},
        </if>
        `updated` = NOW()
        WHERE pkid = #{pkid}
    </update>
</mapper>