<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtMianMapper">

    <select id="listNtMain" parameterType="com.silita.model.TbNtMian" resultType="java.util.Map">
        SELECT `pkid`, `title`, `pub_date` AS pubDate,
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX(src_site,'&',2),'&',-1)]]> as srcSite, `nt_status` AS ntStatus
        FROM ${tableName}
        WHERE 1=1 AND is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND nt_status = #{ntStatus}
        </if>
        ORDER BY `pub_date` DESC, `nt_status` ASC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="countNtMian" parameterType="com.silita.model.TbNtMian" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM ${tableName}
        WHERE 1=1 AND is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND nt_status = #{ntStatus}
        </if>
    </select>

    <select id="listTendersDetail" parameterType="com.silita.model.TbNtMian" resultType="java.util.LinkedHashMap">
        SELECT
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX( main.title,'"',2),'"',-1)]]> as title,
        CASE main.nt_status WHEN 0 THEN '未编辑' WHEN 1 then '已编辑' WHEN 2 then '已审核' WHEN 4 then '未通过'
        WHEN 5 then '已处理' ELSE '未审核' END AS nt_status, CONCAT(tenders.segment,'标段') AS segment, main.pub_date,
        (SELECT `area_name` FROM sys_area WHERE area_code = main.city_code) AS city_code,
        (SELECT `area_name` FROM sys_area WHERE area_code = main.county_code) AS county_code,
        (SELECT `name` FROM twf_dict WHERE `type` = 1 AND code = main.biness_type) AS biness_type,
        (SELECT `name` FROM twf_dict WHERE `type` = 4 AND code = tenders.pro_type) AS pro_type,
        'qualStr', tenders.controll_sum, tenders.pro_sum, tenders.pro_duration,
        (SELECT `name` FROM dic_common WHERE `code` = tenders.pb_mode) AS pb_mode, tenders.bid_bonds,
        tenders.bid_bonds_end_time,
        tenders.enroll_end_time, tenders.enroll_addr, tenders.audit_time, tenders.bid_end_time, tenders.opening_addr,
        (SELECT `name` FROM twf_dict WHERE `type` = 6 AND code = tenders.filing_pfm) AS filing_pfm,
        (SELECT `name` FROM twf_dict WHERE `type` = 2 AND code = tenders.nt_td_status) AS nt_td_status,
        tenders.opening_person, main.url, tenders.pkid, tenders.nt_id
        FROM tb_nt_mian_${source} AS main
        JOIN tb_nt_tenders_${source} AS tenders ON main.pkid = tenders.nt_id
        WHERE 1=1 AND main.is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND main.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND main.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND main.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND main.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND main.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND main.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND main.nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND nt_status = #{ntStatus}
        </if>
        ORDER BY mian.pub_date DESC
    </select>

    <select id="listBidsDetail" parameterType="map" resultType="java.util.LinkedHashMap">
        SELECT
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX( mian.title,'"',2),'"',-1)]]> as title,
        CONCAT(bids.segment, '标段') AS segment,
        mian.pub_date as pubDate,
        bids.controll_sum as controllSum,
        bids.pro_sum as proSum,
        bids.pro_duration,
        '计划竣工时间',
        mian.city_code AS cityCode,
        mian.county_code as countyCode,
        bids.pb_mode AS pbMode,
        <include refid="binessType"/>,
        bids.pro_type as proType,
        'qualStr',
        mian.url, bids.pkid,
        bids.nt_id as ntId,
        bids.td_edit_code as tdEditCode
        FROM tb_nt_mian_${source} AS mian
        LEFT JOIN tb_nt_bids_${source} AS bids ON mian.pkid = bids.nt_id
        WHERE 1=1 AND mian.is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND mian.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND mian.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND mian.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND mian.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND mian.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND mian.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND mian.nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND mian.nt_status = #{ntStatus}
        </if>
        LIMIT #{start},#{pageSize}
    </select>

    <!--<delete id="deleteNtMainByPkId" parameterType="com.silita.model.TbNtMian">-->
    <!--DELETE FROM ${tableName} WHERE pkid = #{pkid}-->
    <!--</delete>-->

    <update id="deleteNtMainByPkId" parameterType="com.silita.model.TbNtMian">
        update ${tableName}
        set
        <choose>
            <when test="isEnable != null and isEnable != ''">
                is_enable = #{isEnable},
            </when>
            <otherwise>
                is_enable = 0,
            </otherwise>
        </choose>
        `updated` = NOW(),
        `update_by` = #{updateBy}
        WHERE pkid = #{pkid}
    </update>

    <update id="updateCategoryAndStatusByPkId" parameterType="com.silita.model.TbNtMian">
        UPDATE ${tableName} SET
        <if test="ntCategory !=null and ntCategory!=''">
            `nt_category` = #{ntCategory},
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            `nt_status` = #{ntStatus},
        </if>
        `updated` = NOW()
        WHERE pkid = #{pkid}
    </update>

    <update id="updateNtMainByPkId" parameterType="com.silita.model.TbNtMian">
        UPDATE ${tableName} SET
        <if test="binessType !=null and binessType!=''">
            `biness_type` = #{binessType},
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            `nt_category` = #{ntCategory},
        </if>
        <if test="title !=null and title!=''">
            `title` = #{title},
        </if>
        <if test="pubDate !=null and pubDate!=''">
            `pub_date` = #{pubDate},
        </if>
        <if test="url !=null and url!=''">
            `url` = #{url},
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            `nt_status` = #{ntStatus},
        </if>
        `nt_type` = #{ntType},
        `city_code` = #{cityCode},
        `county_code` = #{countyCode},
        `updated` = NOW()
        WHERE pkid = #{pkid}
    </update>

    <select id="getNtCategoryByPkId" parameterType="com.silita.model.TbNtMian" resultType="java.lang.String">
        SELECT nt_category AS ntCategory
        FROM ${tableName}
        WHERE pkid = #{pkid}
    </select>

    <update id="updateSegCountByPkid" parameterType="com.silita.model.TbNtMian">
        UPDATE ${tableName} SET
        <choose>
            <when test="segCount != null and segCount == 1">
                `seg_count` = `seg_count` + 1,
            </when>
            <when test="segCount != null">
                `seg_count` = `seg_count` - #{segCount},
            </when>
            <otherwise>
            </otherwise>
        </choose>
        `updated` = NOW()
        WHERE pkid = #{pkid}
    </update>

    <select id="getSegCountByPkId" parameterType="com.silita.model.TbNtMian" resultType="java.lang.Integer">
        SELECT seg_count AS segCount
        FROM ${tableName}
        WHERE pkid = #{pkid}
    </select>

    <select id="getNtStatusByPkId" parameterType="com.silita.model.TbNtMian" resultType="java.lang.String">
        SELECT `nt_status` AS ntStatus
        FROM ${tableName}
        WHERE pkid = #{pkid}
    </select>

    <insert id="insertNtMian" parameterType="com.silita.model.TbNtMian">
        INSERT INTO ${tableName}
        (
        <if test="pkid != null and pkid != ''">
            `pkid`,
        </if>
        <if test="title != null and title != ''">
            `title`,
        </if>
        <if test="url != null and url != ''">
            `url`,
        </if>
        <if test="segCount != null and segCount != ''">
            `seg_count`,
        </if>
        <if test="proviceCode != null and proviceCode != ''">
            `provice_code`,
        </if>
        <if test="cityCode != null and cityCode != ''">
            `city_code`,
        </if>
        <if test="countyCode != null and countyCode != ''">
            `county_code`,
        </if>
        <if test="binessType != null and binessType != ''">
            `biness_type`,
        </if>
        <if test="ntCategory != null and ntCategory != ''">
            `nt_category`,
        </if>
        <if test="ntType != null and ntType != ''">
            `nt_type`,
        </if>
        <if test="year != null and year != ''">
            `year`,
        </if>
        <if test="pubDate != null and pubDate != ''">
            `pub_date`,
        </if>
        <if test="srcSite != null and srcSite != ''">
            `src_site`,
        </if>
        <if test="source != null and source != ''">
            `source`,
        </if>
        <if test="isEnable != null and isEnable != ''">
            `is_enable`,
        </if>
        <if test="ntStatus != null and ntStatus != ''">
            `nt_status`,
        </if>
        <if test="px != null and px != ''">
            `px`,
        </if>
        <if test="createBy != null and createBy != ''">
            `create_by`,
        </if>
        `created`
        )
        VALUES (
        <if test="pkid != null and pkid != ''">
            #{pkid},
        </if>
        <if test="title != null and title != ''">
            #{title},
        </if>
        <if test="url != null and url != ''">
            #{url},
        </if>
        <if test="segCount != null and segCount != ''">
            #{segCount},
        </if>
        <if test="proviceCode != null and proviceCode != ''">
            #{proviceCode},
        </if>
        <if test="cityCode != null and cityCode != ''">
            #{cityCode},
        </if>
        <if test="countyCode != null and countyCode != ''">
            #{countyCode},
        </if>
        <if test="binessType != null and binessType != ''">
            #{binessType},
        </if>
        <if test="ntCategory != null and ntCategory != ''">
            #{ntCategory},
        </if>
        <if test="ntType != null and ntType != ''">
            #{ntType},
        </if>
        <if test="year != null and year != ''">
            #{year},
        </if>
        <if test="pubDate != null and pubDate != ''">
            #{pubDate},
        </if>
        <if test="srcSite != null and srcSite != ''">
            #{srcSite},
        </if>
        <if test="source != null and source != ''">
            #{source},
        </if>
        <if test="isEnable != null and isEnable != ''">
            #{isEnable},
        </if>
        <if test="ntStatus != null and ntStatus != ''">
            #{ntStatus},
        </if>
        <if test="px != null and px != ''">
            #{px},
        </if>
        <if test="createBy != null and createBy != ''">
            #{createBy},
        </if>
        now()
        )
    </insert>

    <select id="queryNtMainCount" parameterType="com.silita.model.TbNtMian" resultType="java.lang.Integer">
        select
          count(1)
        from ${tableName}
        where `title` = #{title}
    </select>
    <select id="queryZhaoBiaoExcel" resultType="java.util.LinkedHashMap" parameterType="map">
        SELECT
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX( mian.title,'"',2),'"',-1)]]> as title,
        <include refid="ntStatus"/>,
        CONCAT(b.segment, '标段') AS segment,
        mian.pub_date as pubDate,
        mian.city_code as cityCode,
        mian.county_code as countyCode,
        <include refid="binessType"/>,
        b.pro_type as proType,
        b.`qua_name` as quaName,
        b.controll_sum as controllSum,
        b.pro_sum as proSum,
        b.pro_duration as proDuration,
        b.`pb_mode` as pbMode,
        b.bid_bonds as bidBonds,
        b.bid_bonds_end_time as bidBondsEndTime,
        b.enroll_end_time as enrollEndTime,
        b.enroll_addr as enrollAddr,
        b.audit_time as auditTime,
        b.bid_end_time as bidEndTime,
        b.opening_addr as openingAddr,
        <include refid="filingPfm"/>,
        <include refid="ntTdStatus"/>,
        b.opening_person as openingPerson,
        mian.url,
        b.pkid as pkid,
        b.nt_id as ntId
        FROM
        tb_nt_mian_${source} mian
        LEFT JOIN tb_nt_tenders_${source} b
        ON mian.pkid = b.`nt_id`
        WHERE 1=1 AND mian.is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND mian.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND mian.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND mian.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND mian.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND mian.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND mian.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND mian.nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND mian.nt_status = #{ntStatus}
        </if>
        LIMIT #{start},#{pageSize}
    </select>
    <select id="queryExcelCount" resultType="java.lang.Integer" parameterType="map">
        SELECT
        ifnull(count(0),0)
        FROM
        tb_nt_mian_${source} mian
        LEFT JOIN tb_nt_tenders_${source} b
        ON mian.pkid = b.`nt_id`
        WHERE 1=1 AND mian.is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND mian.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND mian.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND mian.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND mian.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND mian.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND mian.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND mian.nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND mian.nt_status = #{ntStatus}
        </if>
    </select>
    <select id="queryExcelCountZhongBiao" resultType="java.lang.Integer" parameterType="map">
        SELECT
        ifnull(count(0),0)
        FROM tb_nt_mian_${source} AS mian
        LEFT JOIN tb_nt_bids_${source} AS bids ON mian.pkid = bids.nt_id
        WHERE 1=1 AND mian.is_enable = 1
        <if test="proviceCode !=null and proviceCode!=''">
            AND mian.provice_code = #{proviceCode}
        </if>
        <if test="cityCode !=null and cityCode!=''">
            AND mian.city_code = #{cityCode}
        </if>
        <if test="countyCode !=null and countyCode!=''">
            AND mian.county_code = #{countyCode}
        </if>
        <if test="pubDate !=null and pubDate!=''">
            AND mian.pub_date &gt;= #{pubDate}
        </if>
        <if test="pubEndDate !=null and pubEndDate!=''">
            AND mian.pub_date &lt;= #{pubEndDate}
        </if>
        <if test="title !=null and title!=''">
            AND mian.title LIKE CONCAT('%', #{title}, '%')
        </if>
        <if test="ntCategory !=null and ntCategory!=''">
            AND mian.nt_category = #{ntCategory}
        </if>
        <if test="ntStatus !=null and ntStatus!=''">
            AND mian.nt_status = #{ntStatus}
        </if>
    </select>

    <select id="queryNoticeCount" resultType="java.util.Map" parameterType="map">
     SELECT
      t1.yesterdayCount,
      t2.todayCount,
      t3.totalCount
    FROM
      (SELECT
        COUNT(0) AS yesterdayCount,
        '1' AS pkid
      FROM
        biaodaa_admin.tb_nt_mian_${source}
      WHERE DATE(pub_date) = #{yesterday}
        AND src_site NOT LIKE '%旧公告系统%') t1
      JOIN
        (SELECT
          COUNT(0) AS todayCount,
          '1' AS pkid
        FROM
          biaodaa_admin.tb_nt_mian_${source}
        WHERE DATE(pub_date) = #{today}
          AND src_site NOT LIKE '%旧公告系统%') t2
        ON t1.pkid = t2.pkid
      JOIN
        (SELECT
          COUNT(0) AS totalCount,
          '1' AS pkid
        FROM
          biaodaa_admin.tb_nt_mian_${source}
        WHERE src_site NOT LIKE '%旧公告系统%') t3
        ON t2.pkid = t3.pkid
    </select>


    <select id="querySiteNoticeCount" resultType="java.util.Map" parameterType="map">
        SELECT
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX(src_site, '&', 2),'&',- 1)]]> AS srcSite,
        COUNT(0) AS siteCount
        FROM
        biaodaa_admin.tb_nt_mian_${source}
        WHERE src_site NOT LIKE '%旧公告系统%'
        <if test="startDate != null and startDate != ''">
            and DATE(pub_date) &gt;= #{startDate}
        </if>
        <if test="endDate != null and endDate != ''">
            and DATE(pub_date) &lt;= #{endDate}
        </if>
        GROUP BY src_site
    </select>
    <select id="querySiteNoticeCounts" resultType="java.util.Map" parameterType="map">
        SELECT
        <![CDATA[SUBSTRING_INDEX(SUBSTRING_INDEX(src_site, '&', 2),'&',- 1)]]> AS srcSite,
        COUNT(0) AS siteCount
        FROM
        biaodaa_admin.tb_nt_mian_${source}
        WHERE 1=1
        <if test="startDate != null and startDate != ''">
            and DATE(pub_date) = #{startDate}
        </if>
        GROUP BY src_site
    </select>
    <select id="queryNoticeSitePubDate" resultType="java.lang.String" parameterType="map">
        SELECT
          pub_date
        FROM
          tb_nt_mian_${sources}
        GROUP BY pub_date
    </select>

    <sql id="ntStatus">
       ( CASE
        mian.nt_status
        WHEN 0 THEN '未编辑'
        WHEN 1 THEN '已编辑'
        WHEN 2 THEN '已审核'
        WHEN 4 THEN '未通过'
        WHEN 5 THEN '已处理'
        ELSE '未审核' END) AS ntStatus
    </sql>

    <sql id="binessType">
       ( case mian.biness_type
        when '01' then '施工'
        when '02' then '监理'
        when '03' then '设计'
        when '04' then '勘察'
        when '05' then '采购'
        when '06' then '其他'
        when '07' then 'PPP'
        when '08' then '设计施工'
        when '09' then 'EPC'
        when '10' then '检测'
        when '11' then '施工采购'
        when '12' then '造价咨询'
        when '13' then '招标代理'
        else '其他' end) as projectType
    </sql>

    <sql id="ntTdStatus">
       ( case b.nt_td_status
        when '1' then '未开标'
        when '2' then '流标'
        when '3' then '重新招标'
        when '4' then '终止'
        when '5' then '中止'
        when '6' then '废标'
        when '7' then '延期'
        when '8' then '已开标'
        else '' end) as ntTdStatus
    </sql>

    <sql id="filingPfm">
       ( case b.filing_pfm
        when 'filing_pfm_wsrxba_1560496812146' then '外省入湘备案'
        when 'filing_pfm_cssggzyjyzxba_1560496812146' then '湘西公共资源交易中心备案'
        when 'filing_pfm_zzsggzyjyzxba_1560496812146' then '湘西公共资源交易中心备案'
        when 'filing_pfm_xtsggzyjyzxba_1560496812146' then '湘西公共资源交易中心备案'
        when 'filing_pfm_zjjsggzyjyzxba_1560496812146' then '湘西公共资源交易中心备案'
        when 'filing_pfm_xxggzyjyzxba_1560496812146' then '湘西公共资源交易中心备案'
        else '' end) as filingPfm
    </sql>
</mapper>