<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtAssociateGpMapper">

    <resultMap id="BaseResultMap" type="com.silita.model.TbNtAssociateGp">
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="nt_id" property="ntId" jdbcType="VARCHAR"/>
        <result column="rel_gp" property="relGp" jdbcType="VARCHAR"/>
        <result column="rel_type" property="relType" jdbcType="VARCHAR"/>
        <result column="px" property="px" jdbcType="VARCHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="pub_date" property="pubDate" jdbcType="VARCHAR"/>
        <result column="nt_status" property="ntStatus" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="batchInsertNtAssociateGp" parameterType="Map">
        INSERT INTO ${tableName} (
        `pkid`, `nt_id`, `rel_gp`, `rel_type`, `px`,
        `created`, `create_by`
        )
        VALUES
        <foreach collection="lists" item="tbNtAssociateGp" separator=",">
            (#{tbNtAssociateGp.pkid}, #{tbNtAssociateGp.ntId}, #{tbNtAssociateGp.relGp}, #{tbNtAssociateGp.relType},
            #{tbNtAssociateGp.px},
            NOW(), #{tbNtAssociateGp.createBy}
            )
        </foreach>
    </insert>

    <delete id="deleteNtAssociateGpByNtIdAndRelGp" parameterType="com.silita.model.TbNtAssociateGp">
        DELETE FROM ${tableName}
        WHERE 1=1
        <if test="ntId != null and ntId != ''">
            AND nt_id = #{ntId}
        </if>
        <if test="relGp != null and relGp != ''">
            AND rel_gp = #{relGp}
        </if>
    </delete>

    <select id="listNtAssociateGpByNtId" parameterType="com.silita.model.TbNtAssociateGp" resultType="Map">
        SELECT gp.pkid, gp.nt_id AS ntId, gp.rel_gp AS relGp, gp.rel_type AS relType, gp.px,
        gp.created, gp.create_by AS createBy, gp.updated, gp.update_by AS updateBy, main.title,
        main.pub_date AS pubDate, CASE main.nt_status WHEN 0 THEN '未编辑' WHEN 1 then '已编辑' WHEN 2 then '已审核' WHEN 4 then '未通过' WHEN 5 then '已处理' ELSE '未审核' END AS ntStatus
        FROM ${tableName} gp
        LEFT JOIN tb_nt_mian_${source} main ON gp.nt_id = main.pkid
        WHERE rel_gp = (SELECT rel_gp FROM ${tableName} WHERE nt_id = #{ntId}) AND nt_id != #{ntId}
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="countNtAssociateGpByNtId" parameterType="com.silita.model.TbNtAssociateGp" resultType="Integer">
        SELECT COUNT(*)
        FROM ${tableName} gp
        LEFT JOIN tb_nt_mian_${source} main ON gp.nt_id = main.pkid
        WHERE rel_gp = (SELECT rel_gp FROM ${tableName} WHERE nt_id = #{ntId}) AND nt_id != #{ntId}
    </select>

    <select id="getRelGpByNtIds" parameterType="Map" resultMap="BaseResultMap">
        SELECT `nt_id`, `rel_gp` FROM ${tableName}
        <where>
            `nt_id` IN
            <foreach collection="array" open="(" close=")" separator="," item="ele">
                #{ele}
            </foreach>
        </where>
    </select>

</mapper>