<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtBidsCandMapper">

    <resultMap id="BaseResultMap" type="com.silita.model.TbNtBidsCand">
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="nt_id" property="ntId" jdbcType="VARCHAR"/>
        <result column="nt_bids_id" property="ntBidsId" jdbcType="VARCHAR"/>
        <result column="f_candidate" property="fCandidate" jdbcType="VARCHAR"/>
        <result column="f_quote" property="fQuote" jdbcType="DOUBLE"/>
        <result column="f_pro_leader" property="fProLeader" jdbcType="VARCHAR"/>
        <result column="f_tech_leader" property="fTechLeader" jdbcType="VARCHAR"/>
        <result column="f_builder" property="fBuilder" jdbcType="VARCHAR"/>
        <result column="f_safety" property="fSafety" jdbcType="VARCHAR"/>
        <result column="f_quality" property="fQuality" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="updated" property="updated" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="source" property="source" jdbcType="VARCHAR"/>
    </resultMap>


    <insert id="batchInsertNtBidsCand" parameterType="com.silita.model.TbNtBidsCand">
        INSERT INTO `tb_nt_bids_cand` (
        `pkid`, `nt_id`, `nt_bids_id`, `f_candidate`, `f_quote`,
        `f_pro_leader`, `f_tech_leader`, `f_builder`, `f_safety`, `f_quality`,
        `source`, `number`, `create_by`, `created`
        )
        VALUES
        <foreach collection="list" item="temp" index="index" separator=",">
            (
            #{temp.pkid}, #{temp.ntId}, #{temp.ntBidsId}, #{temp.fCandidate}, #{temp.fQuote},
            #{temp.fProLeader}, #{temp.fTechLeader}, #{temp.fBuilder}, #{temp.fSafety}, #{temp.fQuality},
            #{temp.source}, #{temp.number}, #{temp.createBy}, NOW()
            )
        </foreach>
    </insert>

    <update id="batchUpdateNtBidsCand" parameterType="com.silita.model.TbNtBidsCand">
        <foreach collection="tbNtBidsCands" item="temp" index="index" open="" close="" separator=";">
            UPDATE `tb_nt_bids_cand` SET
            <if test="temp.fCandidate != null and temp.fCandidate != ''">
              `f_candidate` = #{temp.fCandidate},
            </if>
            `f_quote` = #{temp.fQuote},
            `f_pro_leader` = #{temp.fProLeader},
            `f_tech_leader` = #{temp.fTechLeader},
            `f_builder` = #{temp.fBuilder},
            `f_safety` = #{temp.fSafety},
            `f_quality` = #{temp.fQuality},
            <if test="temp.number != null and temp.number != ''">
              `number` = #{temp.number},
            </if>
            <if test="temp.source != null and temp.source != ''">
              `source` = #{temp.source},
            </if>
            `update_by` = #{temp.updateBy},
            `updated` = NOW()
            WHERE `pkid` = #{temp.pkid}
        </foreach>
    </update>

    <delete id="batchDeleteNtBidsCandByNtBidsId" parameterType="String">
        DELETE FROM `tb_nt_bids_cand`
        <where>
            `nt_bids_id` IN
            <foreach collection="array" open="(" close=")" separator="," item="ele">
                #{ele}
            </foreach>
        </where>
    </delete>

    <select id="getNtBidsCandByNtBidsIdAndNumber" parameterType="com.silita.model.TbNtBidsCand" resultType="java.util.LinkedHashMap">
        SELECT
        <if test="number == '1' or number == 1">
          `f_candidate` AS `f_candidate1`, `f_quote` AS `f_quote1`, `f_pro_leader` AS `f_pro_leader1`, `f_tech_leader` AS `f_tech_leader1`, `f_builder` AS `f_builder1`,
          `f_safety` AS `f_safety1`, `f_quality` AS `f_quality1`, `pkid`
        </if>
        <if test="number == '2' or number == 2">
          `f_candidate` AS `f_candidate2`, `f_quote` AS `f_quote2`, `f_pro_leader` AS `f_pro_leader2`, `f_tech_leader` AS `f_tech_leader2`, `f_builder` AS `f_builder2`,
          `f_safety` AS `f_safety2`, `f_quality` AS `f_quality2`, `pkid`
        </if>
        <if test="number == '3' or number == 3">
          `f_candidate` AS `f_candidate3`, `f_quote` AS `f_quote3`, `f_pro_leader` AS `f_pro_leader3`, `f_tech_leader` AS `f_tech_leader3`, `f_builder` AS `f_builder3`,
          `f_safety` AS `f_safety3`, `f_quality` AS `f_quality3`, `pkid`
        </if>
        FROM `tb_nt_bids_cand`
        WHERE `nt_bids_id` = #{ntBidsId} AND `nt_id` = #{ntId} AND `number` = #{number} LIMIT 1
    </select>

    <select id="countBidsCandByBtIdAndNtBidsIdAndNumber" parameterType="com.silita.model.TbNtBidsCand" resultType="Integer">
        SELECT COUNT(*)
        FROM tb_nt_bids_cand
        WHERE 1 = 1
        <if test="ntId != null and ntId != ''">
          AND `nt_id` = #{ntId}
        </if>
        <if test="number != null and number != ''">
          AND `number` = #{number}
        </if>
        <if test="pkid != null and pkid != ''">
          AND `pkid` != #{pkid}
        </if>
    </select>

    <update id="updateNtBidsCand" parameterType="com.silita.model.TbNtBidsCand">
        UPDATE `tb_nt_bids_cand` SET
        <if test="fCandidate != null and fCandidate != ''">
          `f_candidate` = #{fCandidate},
        </if>
        `f_quote` = #{fQuote},
        `f_pro_leader` = #{fProLeader},
        `f_tech_leader` = #{fTechLeader},
        `f_builder` = #{fBuilder},
        `f_safety` = #{fSafety},
        `f_quality` = #{fQuality},
        <if test="number != null and number != ''">
          `number` = #{number},
        </if>
        <if test="source != null and source != ''">
          `source` = #{source},
        </if>
        `update_by` = #{updateBy},
        `updated` = NOW()
        WHERE `pkid` = #{pkid}
    </update>

</mapper>