<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtSiteMapper" >

  <select id="querySiteUtl" resultType="java.util.Map" parameterType="map">
    SELECT t.`name`,t.`url`,t.source FROM `tb_nt_site` t where 1=1
    <if test="sourced != null and sourced != ''">
       and t.source = #{sourced}
    </if>
  </select>

</mapper>