<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtTextHunanMapper">
    <resultMap id="BaseResultMap" type="com.silita.model.TbNtText">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <result column="nt_id" property="ntId" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="compress" property="compress" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="queryNtTextDetail" resultMap="BaseResultMap" parameterType="com.silita.model.TbNtText">
    select *
    from tb_nt_text_${source}
    where nt_id = #{ntId}
  </select>

    <update id="updateNtText" parameterType="com.silita.model.TbNtText">
        UPDATE `tb_nt_text_hunan`
        SET
        <if test="ntId != null and ntId != ''">
            `nt_id` = #{ntId},
        </if>
        <if test="compress != null and compress != ''">
            `compress` = #{compress},
        </if>
        <if test="content != null and content != ''">
            `content` = #{content}
        </if>
        WHERE `pkid` = #{pkid}
    </update>
</mapper>