<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbNtRegexGroupMapper" >
  <resultMap id="BaseResultMap" type="com.silita.model.TbNtRegexGroup" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pkid" property="pkid" jdbcType="VARCHAR" />
    <result column="nt_edit_id" property="ntEditId" jdbcType="VARCHAR" />
    <result column="nt_id" property="ntId" jdbcType="VARCHAR" />
    <result column="group_code" property="groupCode" jdbcType="VARCHAR" />
    <result column="group_regex" property="groupRegex" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="updated" property="updated" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>


  <select id="getNtRegexGroupByNtIdAndNtEditId" parameterType="com.silita.model.TbNtRegexGroup" resultMap="BaseResultMap">
    SELECT *
    FROM tb_nt_regex_group
    WHERE 1=1
    <if test="ntEditId != null and ntEditId != ''">
      AND `nt_edit_id` = #{ntEditId}
    </if>
    <if test="ntId != null and ntId != ''">
      AND `nt_id` = #{ntId}
    </if>
  </select>

  <insert id="insertNtRegexGroup" parameterType="com.silita.model.TbNtRegexGroup">
    INSERT INTO tb_nt_regex_group(
      `pkid`, `nt_edit_id`, `nt_id`, `group_code`, `group_regex`,
      `create_by`, `created`
    )
    VALUES (
      #{pkid}, #{ntEditId}, #{ntId}, #{groupCode}, #{groupRegex},
      #{createBy}
    )
  </insert>

  <update id="updateNtRegexGroupByNtIdAndNtEditId" parameterType="com.silita.model.TbNtRegexGroup">
    UPDATE `tb_nt_regex_group` SET
    <if test="groupCode != null and groupCode != ''">
      `group_code` = #{groupCode},
    </if>
    <if test="groupRegex != null and groupRegex != ''">
      `group_regex` = #{groupRegex},
    </if>
    <if test="updateBy != null and updateBy != ''">
      `update_by` = #{updateBy},
    </if>
    `updated` = NOW()
    WHERE `nt_edit_id` = #{ntEditId} AND `nt_id` = #{ntId}
  </update>

  <delete id="deleteNtRegexGroupByNtIdAndNtEditId" parameterType="com.silita.model.TbNtRegexGroup">
    DELETE
    FROM tb_nt_regex_group
    WHERE `nt_edit_id` = #{ntEditId} AND `nt_id` = #{ntId}
  </delete>

</mapper>