<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TbUserMapper" >
    <insert id="insertAdministrator" parameterType="map">
        INSERT INTO biaodaa_admin.`tb_user`(
          `user_name`,
          `real_name`,
          `phone`,
          `password`,
          `created`,
          `department`,
          `post`
        )
        VALUES
          (#{phone},#{realName},#{phone},#{password},NOW(),#{department},#{post})
    </insert>


    <update id="updateLock" parameterType="map">
        UPDATE biaodaa_admin.`tb_user` t SET t.lock = #{lock} WHERE t.uid = #{uid}
    </update>
    <update id="updatePassword" parameterType="map">
        UPDATE biaodaa_admin.`tb_user` t SET t.password = #{newpassword},t.updated = NOW() where t.phone = #{phone}
    </update>
    <update id="updateResetPassword" parameterType="map">
        UPDATE biaodaa_admin.`tb_user` t SET t.password = #{password} where t.uid = #{uid}
    </update>
    <update id="updateUser" parameterType="map">
        update biaodaa_admin.`tb_user` t set
        <if test="password != null and password !=''">
            t.password = #{password},
        </if>
        <if test="realName != null and realName !=''">
            t.real_name = #{realName},
        </if>
        <if test="phone != null and phone !=''">
            t.user_name = #{phone},
            t.phone = #{phone},
        </if>
        <if test="department != null and department !=''">
            t.department = #{department},
        </if>
        <if test="post != null and post !=''">
            t.post = #{post},
        </if>
            t.updated = NOW()
        where uid=#{uid}
    </update>
    <select id="querySingleUserPhone" resultType="java.lang.Integer" parameterType="map">
        SELECT ifnull(count(1),0) FROM biaodaa_admin.`tb_user` t WHERE t.phone = #{phone}
    </select>
    <select id="querySingleUserPassword" resultType="java.lang.Integer" parameterType="map">
        SELECT ifnull(count(1),0) FROM biaodaa_admin.`tb_user` t WHERE t.phone = #{phone} and t.password=#{password}
    </select>
    <select id="queryAccountList" resultType="java.util.Map" parameterType="com.silita.model.TbUser">
        SELECT
          t.uid,
          t.real_name as realName,
          t.phone,
        <include refid="lock"/>,
          t.created,
          t.department,
          t.post,
          t3.desc
        FROM
          biaodaa_admin.`tb_user` t
        JOIN biaodaa_admin.`tb_user_role` t2
        on t.uid = t2.uid
        JOIN biaodaa_admin.`tb_role` t3
        ON t2.`rid` = t3.`rid`
          WHERE 1=1
          <if test="phone != null and phone != ''">
              AND phone LIKE CONCAT('%',#{phone},'%')
          </if>
        and t3.desc &lt;&gt; '超级管理员'
        group by t.uid
        order by t.created desc
        LIMIT #{start}, #{pageSize}
    </select>

    <sql id="lock">
       ( case t.lock
        when '0' then '未锁定'
        else '锁定' end) as locks
    </sql>


    <select id="queryAccountListCount" resultType="java.lang.Integer" parameterType="map">
          SELECT
              ifnull(count(1),0)
            FROM
              biaodaa_admin.`tb_user` t
            JOIN biaodaa_admin.`tb_user_role` t2
            on t.uid = t2.uid
            JOIN biaodaa_admin.`tb_role` t3
            ON t2.`rid` = t3.`rid`
              WHERE 1=1
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%',#{phone},'%')
            </if>
            and t3.desc &lt;&gt; '超级管理员'
    </select>
    <select id="login" resultType="com.silita.model.TbUser" parameterType="com.silita.model.TbUser">
        SELECT
          t.uid,
          t.user_name as userName,
          t.password,
          t.phone,
          t.sflag,
          t.lock
        FROM
          biaodaa_admin.tb_user t
        WHERE phone = #{phone} and password = #{password}
    </select>
    <select id="queryMaxUId" resultType="java.lang.Integer">
        SELECT MAX(uid) FROM tb_user
    </select>
    <select id="queryAdministratorPhone" resultType="java.lang.String" parameterType="map">
        select phone from biaodaa_admin.tb_user where uid=#{uid}
    </select>
    <select id="queryRealName" resultType="java.lang.String">
        select real_name from biaodaa_admin.tb_user where uid = #{uid}
    </select>

</mapper>