<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.silita.dao.TwfDictMapper" >

  <select id="listTwfDictNameByType" parameterType="Integer" resultType="Map">
    SELECT `name`, `code` AS `value` FROM twf_dict WHERE `type` = #{type}
  </select>

  <select id="getNameByCodeAndType" parameterType="com.silita.model.TwfDict" resultType="String">
    SELECT `name` FROM twf_dict WHERE `type` = #{type} AND code = #{code}
  </select>
  <select id="queryProType" resultType="java.util.Map" parameterType="map">
    SELECT
      t.`name`,
      t.code
    FROM
      twf_dict t
    WHERE t.`type` = 4
  </select>
</mapper>